body {
    display: flex;

    margin: auto;
    width: max-content;
    height: 100vh;
    min-height: 400px;

    font-family: 'Montserrat', sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 100px;
    margin: auto;

    background: rgba(250, 235, 215, 0.15);
    box-shadow: 0 0 20px rgba(255, 47, 182, .2);
}

.content__permalink-box {
    display: flex;
    flex-direction: column;

    margin-top: 25px;
}

.content__image {
    margin-top: 50px;
    width: 350px;
    height: 170px;
}

.content__button {
    margin: 25px auto 0 auto;
}