.bio-block {
    margin-top: 50px;
}

.bio-block__title {
    margin-top: 25px;
}

.bio-block__text {
    margin-top: 10px;
}

.bio-block__img {
    margin: 10px auto 0 auto;
    width: 400px;

    box-shadow: 0 0 5px black;
}

.bio-block__text_normalize {
    margin-top: 15px;
}