.movie-section {
    margin-top: 50px;
}

.movie-section__title {
    margin-top: 25px;
}

.movie-section__block {
    display: flex;
    flex-direction: column;
}

.movie-section__img {
    width: 70px;
    margin: 15px auto 0 auto;
}

.movie-section__text {
    margin-top: 25px;
    max-width: 25%;
}

.movie-section__rating {
    display: flex;
    flex-direction: column;

    width: 15%;
    border: 2px #6c6cff solid;
    margin: 25px auto 0 auto;
}

.movie-section__rating_row {
    display: flex;
    justify-content: space-between;
}

.movie-section__rating_row:last-of-type {
    border-top: 2px #6c6cff solid;
}

.movie-section__rating_rating {
    flex: 1;

    text-align: right;
}

.movie-section__rating_rater {
    flex: 2;

    text-align: left;
}

.movie-section__rating_normalize {
    padding: 10px;
}