.hairstyle-section {
    margin-top: 50px;
}

.hairstyle-section__block {
    display: flex;
    flex-direction: column;
}

.hairstyle-section__title {
    margin-top: 25px;
}

.hairstyle-section__img {
    width: 500px;
    margin: 15px auto 0;
}

.hairstyle-section__signature {
    margin-top: 25px;
}